In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Preparing data from Traffic Counters - CAR DATA
same code ran for counter 1,2,3 and 4 by changing the paths

In [ ]:
jun24_df = pd.read_csv("./mydata/traffic/counter 4/car-data/jun-24-car.csv")
jun24_df=jun24_df.drop(['Count','Workday','7 Day'], axis=1)
jun24_df = jun24_df.rename(columns={jun24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jun24_df_long = pd.melt(jun24_df, id_vars='hour', var_name='date', value_name='value')
jun24_df_long['datetime'] = pd.to_datetime(jun24_df_long['date'].astype(str) + ' ' + jun24_df_long['hour'].astype(str))
jun24_df_long = jun24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jun24_df_long.head()

             datetime  value
0 2024-06-01 00:00:00    226
1 2024-06-01 01:00:00    129
2 2024-06-01 02:00:00     80
3 2024-06-01 03:00:00     87
4 2024-06-01 04:00:00     58

In [2]:
jun23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/jun-23-car.csv")
jun23_df=jun23_df.drop(['Count','Workday','7 Day'], axis=1)
jun23_df = jun23_df.rename(columns={jun23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jun23_df_long = pd.melt(jun23_df, id_vars='hour', var_name='date', value_name='value')
jun23_df_long['datetime'] = pd.to_datetime(jun23_df_long['date'].astype(str) + ' ' + jun23_df_long['hour'].astype(str))
jun23_df_long = jun23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jun23_df_long.head()

             datetime  value
0 2023-06-01 00:00:00     97
1 2023-06-01 01:00:00     64
2 2023-06-01 02:00:00     66
3 2023-06-01 03:00:00     50
4 2023-06-01 04:00:00     64

In [3]:
may24_df = pd.read_csv("./mydata/traffic/counter 4/car-data/may-24-car.csv")
may24_df=may24_df.drop(['Count','Workday','7 Day'], axis=1)
may24_df = may24_df.rename(columns={may24_df.columns[0]: 'hour'})  # rename first column to 'hour'
may24_df_long = pd.melt(may24_df, id_vars='hour', var_name='date', value_name='value')
may24_df_long['datetime'] = pd.to_datetime(may24_df_long['date'].astype(str) + ' ' + may24_df_long['hour'].astype(str))
may24_df_long = may24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
may24_df_long.head()

             datetime  value
0 2024-05-01 00:00:00     99
1 2024-05-01 01:00:00     38
2 2024-05-01 02:00:00     59
3 2024-05-01 03:00:00     50
4 2024-05-01 04:00:00     58

In [4]:
may23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/may-23-car.csv")
may23_df=may23_df.drop(['Count','Workday','7 Day'], axis=1)
may23_df = may23_df.rename(columns={may23_df.columns[0]: 'hour'})  # rename first column to 'hour'
may23_df_long = pd.melt(may23_df, id_vars='hour', var_name='date', value_name='value')
may23_df_long['datetime'] = pd.to_datetime(may23_df_long['date'].astype(str) + ' ' + may23_df_long['hour'].astype(str))
may23_df_long = may23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
may23_df_long.head()

             datetime  value
0 2023-05-01 00:00:00    174
1 2023-05-01 01:00:00    109
2 2023-05-01 02:00:00     95
3 2023-05-01 03:00:00    103
4 2023-05-01 04:00:00     67

In [5]:
apr24_df = pd.read_csv("./mydata/traffic/counter 4/car-data/apr-24-car.csv")
apr24_df=apr24_df.drop(['Count','Workday','7 Day'], axis=1)
apr24_df = apr24_df.rename(columns={apr24_df.columns[0]: 'hour'})  # rename first column to 'hour'
apr24_df_long = pd.melt(apr24_df, id_vars='hour', var_name='date', value_name='value')
apr24_df_long['datetime'] = pd.to_datetime(apr24_df_long['date'].astype(str) + ' ' + apr24_df_long['hour'].astype(str))
apr24_df_long = apr24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
apr24_df_long.head()

             datetime  value
0 2024-04-01 00:00:00    148
1 2024-04-01 01:00:00    117
2 2024-04-01 02:00:00    104
3 2024-04-01 03:00:00    105
4 2024-04-01 04:00:00     51

In [6]:
apr23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/apr-23-car.csv")
apr23_df=apr23_df.drop(['Count','Workday','7 Day'], axis=1)
apr23_df = apr23_df.rename(columns={apr23_df.columns[0]: 'hour'})  # rename first column to 'hour'
apr23_df_long = pd.melt(apr23_df, id_vars='hour', var_name='date', value_name='value')
apr23_df_long['datetime'] = pd.to_datetime(apr23_df_long['date'].astype(str) + ' ' + apr23_df_long['hour'].astype(str))
apr23_df_long = apr23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
apr23_df_long.head()

             datetime  value
0 2023-04-01 00:00:00    170
1 2023-04-01 01:00:00    115
2 2023-04-01 02:00:00     80
3 2023-04-01 03:00:00     75
4 2023-04-01 04:00:00     73

In [7]:
mar24_df = pd.read_csv("./mydata/traffic/counter 4/car-data/mar-24-car.csv")
mar24_df=mar24_df.drop(['Count','Workday','7 Day'], axis=1)
mar24_df =mar24_df.rename(columns={mar24_df.columns[0]: 'hour'})  # rename first column to 'hour'
mar24_df_long = pd.melt(mar24_df, id_vars='hour', var_name='date', value_name='value')
mar24_df_long['datetime'] = pd.to_datetime(mar24_df_long['date'].astype(str) + ' ' + mar24_df_long['hour'].astype(str))
mar24_df_long = mar24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
mar24_df_long.head()

             datetime  value
0 2024-03-01 00:00:00    115
1 2024-03-01 01:00:00     55
2 2024-03-01 02:00:00     43
3 2024-03-01 03:00:00     68
4 2024-03-01 04:00:00     63

In [8]:
mar23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/mar-23-car.csv")
mar23_df=mar23_df.drop(['Count','Workday','7 Day'], axis=1)
mar23_df =mar23_df.rename(columns={mar23_df.columns[0]: 'hour'})  # rename first column to 'hour'
mar23_df_long = pd.melt(mar23_df, id_vars='hour', var_name='date', value_name='value')
mar23_df_long['datetime'] = pd.to_datetime(mar23_df_long['date'].astype(str) + ' ' + mar23_df_long['hour'].astype(str))
mar23_df_long = mar23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
mar23_df_long.head()

             datetime  value
0 2023-03-01 00:00:00     66
1 2023-03-01 01:00:00     56
2 2023-03-01 02:00:00     50
3 2023-03-01 03:00:00     33
4 2023-03-01 04:00:00     69

In [9]:
feb24_df = pd.read_csv("./mydata/traffic/counter 4/car-data/feb-24-car.csv")
feb24_df=feb24_df.drop(['Count','Workday','7 Day'], axis=1)
feb24_df =feb24_df.rename(columns={feb24_df.columns[0]: 'hour'})  # rename first column to 'hour'
feb24_df_long = pd.melt(feb24_df, id_vars='hour', var_name='date', value_name='value')
feb24_df_long['datetime'] = pd.to_datetime(feb24_df_long['date'].astype(str) + ' ' + feb24_df_long['hour'].astype(str))
feb24_df_long = feb24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
feb24_df_long.head()

             datetime  value
0 2024-02-01 00:00:00     60
1 2024-02-01 01:00:00     50
2 2024-02-01 02:00:00     28
3 2024-02-01 03:00:00     48
4 2024-02-01 04:00:00     52

In [10]:
feb23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/feb-23-car.csv")
feb23_df=feb23_df.drop(['Count','Workday','7 Day'], axis=1)
feb23_df =feb23_df.rename(columns={feb23_df.columns[0]: 'hour'})  # rename first column to 'hour'
feb23_df_long = pd.melt(feb23_df, id_vars='hour', var_name='date', value_name='value')
feb23_df_long['datetime'] = pd.to_datetime(feb23_df_long['date'].astype(str) + ' ' + feb23_df_long['hour'].astype(str))
feb23_df_long = feb23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
feb23_df_long.head()

             datetime  value
0 2023-02-01 00:00:00     74
1 2023-02-01 01:00:00     50
2 2023-02-01 02:00:00     47
3 2023-02-01 03:00:00     34
4 2023-02-01 04:00:00     56

In [11]:
jan24_df = pd.read_csv("./mydata/traffic/counter 4/car-data/jan-24-car.csv")
jan24_df=jan24_df.drop(['Count','Workday','7 Day'], axis=1)
jan24_df =jan24_df.rename(columns={jan24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jan24_df_long = pd.melt(jan24_df, id_vars='hour', var_name='date', value_name='value')
jan24_df_long['datetime'] = pd.to_datetime(jan24_df_long['date'].astype(str) + ' ' + jan24_df_long['hour'].astype(str))
jan24_df_long = jan24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jan24_df_long.head()

             datetime  value
0 2024-01-01 00:00:00    175
1 2024-01-01 01:00:00    212
2 2024-01-01 02:00:00    155
3 2024-01-01 03:00:00     76
4 2024-01-01 04:00:00     74

In [12]:
jan23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/jan-23-car.csv")
jan23_df=jan23_df.drop(['Count','Workday','7 Day'], axis=1)
jan23_df =jan23_df.rename(columns={jan23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jan23_df_long = pd.melt(jan23_df, id_vars='hour', var_name='date', value_name='value')
jan23_df_long['datetime'] = pd.to_datetime(jan23_df_long['date'].astype(str) + ' ' + jan23_df_long['hour'].astype(str))
jan23_df_long = jan23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jan23_df_long.head()

             datetime  value
0 2023-01-01 00:00:00    176
1 2023-01-01 01:00:00    214
2 2023-01-01 02:00:00    114
3 2023-01-01 03:00:00     84
4 2023-01-01 04:00:00     45

In [13]:
dec23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/dec-23-car.csv")
dec23_df=dec23_df.drop(['Count','Workday','7 Day'], axis=1)
dec23_df =dec23_df.rename(columns={dec23_df.columns[0]: 'hour'})  # rename first column to 'hour'
dec23_df_long = pd.melt(dec23_df, id_vars='hour', var_name='date', value_name='value')
dec23_df_long['datetime'] = pd.to_datetime(dec23_df_long['date'].astype(str) + ' ' + dec23_df_long['hour'].astype(str))
dec23_df_long = dec23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
dec23_df_long.head()

             datetime  value
0 2023-12-01 00:00:00    137
1 2023-12-01 01:00:00    110
2 2023-12-01 02:00:00     54
3 2023-12-01 03:00:00     57
4 2023-12-01 04:00:00     68

In [14]:
nov23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/nov-23-car.csv")
nov23_df=nov23_df.drop(['Count','Workday','7 Day'], axis=1)
nov23_df =nov23_df.rename(columns={nov23_df.columns[0]: 'hour'})  # rename first column to 'hour'
nov23_df_long = pd.melt(nov23_df, id_vars='hour', var_name='date', value_name='value')
nov23_df_long['datetime'] = pd.to_datetime(nov23_df_long['date'].astype(str) + ' ' + nov23_df_long['hour'].astype(str))
nov23_df_long = nov23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
nov23_df_long.head()

             datetime  value
0 2023-11-01 00:00:00    100
1 2023-11-01 01:00:00     78
2 2023-11-01 02:00:00     86
3 2023-11-01 03:00:00     82
4 2023-11-01 04:00:00     62

In [15]:
oct23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/oct-23-car.csv")
oct23_df=oct23_df.drop(['Count','Workday','7 Day'], axis=1)
oct23_df =oct23_df.rename(columns={oct23_df.columns[0]: 'hour'})  # rename first column to 'hour'
oct23_df_long = pd.melt(oct23_df, id_vars='hour', var_name='date', value_name='value')
oct23_df_long['datetime'] = pd.to_datetime(oct23_df_long['date'].astype(str) + ' ' + oct23_df_long['hour'].astype(str))
oct23_df_long = oct23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
oct23_df_long.head()

             datetime  value
0 2023-10-01 00:00:00    177
1 2023-10-01 01:00:00    144
2 2023-10-01 02:00:00     99
3 2023-10-01 03:00:00    110
4 2023-10-01 04:00:00     61

In [16]:
sep23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/sep-23-car.csv")
sep23_df=sep23_df.drop(['Count','Workday','7 Day'], axis=1)
sep23_df =sep23_df.rename(columns={sep23_df.columns[0]: 'hour'})  # rename first column to 'hour'
sep23_df_long = pd.melt(sep23_df, id_vars='hour', var_name='date', value_name='value')
sep23_df_long['datetime'] = pd.to_datetime(sep23_df_long['date'].astype(str) + ' ' + sep23_df_long['hour'].astype(str))
sep23_df_long = sep23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
sep23_df_long.head()

             datetime  value
0 2023-09-01 00:00:00    119
1 2023-09-01 01:00:00     65
2 2023-09-01 02:00:00     67
3 2023-09-01 03:00:00     46
4 2023-09-01 04:00:00     76

In [17]:
aug23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/aug-23-car.csv")
aug23_df=aug23_df.drop(['Count','Workday','7 Day'], axis=1)
aug23_df =aug23_df.rename(columns={aug23_df.columns[0]: 'hour'})  # rename first column to 'hour'
aug23_df_long = pd.melt(aug23_df, id_vars='hour', var_name='date', value_name='value')
aug23_df_long['datetime'] = pd.to_datetime(aug23_df_long['date'].astype(str) + ' ' + aug23_df_long['hour'].astype(str))
aug23_df_long = aug23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
aug23_df_long.head()

             datetime  value
0 2023-08-01 00:00:00    119
1 2023-08-01 01:00:00     58
2 2023-08-01 02:00:00     74
3 2023-08-01 03:00:00     49
4 2023-08-01 04:00:00     71

In [18]:
aug24_df = pd.read_csv("./mydata/traffic/counter 4/car-data/aug-24-car.csv")
aug24_df=aug24_df.drop(['Count','Workday','7 Day'], axis=1)
aug24_df =aug24_df.rename(columns={aug24_df.columns[0]: 'hour'})  # rename first column to 'hour'
aug24_df_long = pd.melt(aug24_df, id_vars='hour', var_name='date', value_name='value')
aug24_df_long['datetime'] = pd.to_datetime(aug24_df_long['date'].astype(str) + ' ' + aug24_df_long['hour'].astype(str))
aug24_df_long = aug24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
aug24_df_long.head()

             datetime  value
0 2024-08-01 00:00:00    121
1 2024-08-01 01:00:00     48
2 2024-08-01 02:00:00     54
3 2024-08-01 03:00:00     66
4 2024-08-01 04:00:00     77

In [19]:
jul23_df = pd.read_csv("./mydata/traffic/counter 4/car-data/jul-23-car.csv")
jul23_df=jul23_df.drop(['Count','Workday','7 Day'], axis=1)
jul23_df =jul23_df.rename(columns={jul23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jul23_df_long = pd.melt(jul23_df, id_vars='hour', var_name='date', value_name='value')
jul23_df_long['datetime'] = pd.to_datetime(jul23_df_long['date'].astype(str) + ' ' + jul23_df_long['hour'].astype(str))
jul23_df_long = jul23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jul23_df_long.head()

             datetime  value
0 2023-07-01 00:00:00    208
1 2023-07-01 01:00:00    136
2 2023-07-01 02:00:00     79
3 2023-07-01 03:00:00     76
4 2023-07-01 04:00:00     75

In [20]:
jul24_df = pd.read_csv("./mydata/traffic/counter 4/car-data/jul-24-car.csv")
jul24_df=jul24_df.drop(['Count','Workday','7 Day'], axis=1)
jul24_df =jul24_df.rename(columns={jul24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jul24_df_long = pd.melt(jul24_df, id_vars='hour', var_name='date', value_name='value')
jul24_df_long['datetime'] = pd.to_datetime(jul24_df_long['date'].astype(str) + ' ' + jul24_df_long['hour'].astype(str))
jul24_df_long = jul24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jul24_df_long.head()

             datetime  value
0 2024-07-01 00:00:00    104
1 2024-07-01 01:00:00     59
2 2024-07-01 02:00:00     58
3 2024-07-01 03:00:00     76
4 2024-07-01 04:00:00     64

In [21]:
combined_df = pd.concat([jul24_df_long, aug24_df_long], ignore_index=True)
combined_df = pd.concat([jun24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([may24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([apr24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([mar24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([feb24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jan24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([dec23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([nov23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([oct23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([sep23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([aug23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jul23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jun23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([may23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([apr23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([mar23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([feb23_df_long, combined_df], ignore_index=True)
combined_df1_1 = pd.concat([jan23_df_long, combined_df], ignore_index=True)
combined_df1_1.head()

             datetime  value
0 2023-01-01 00:00:00    176
1 2023-01-01 01:00:00    214
2 2023-01-01 02:00:00    114
3 2023-01-01 03:00:00     84
4 2023-01-01 04:00:00     45

In [22]:
combined_df1_1.head()

             datetime  value
0 2023-01-01 00:00:00    176
1 2023-01-01 01:00:00    214
2 2023-01-01 02:00:00    114
3 2023-01-01 03:00:00     84
4 2023-01-01 04:00:00     45

In [23]:
combined_df1_1.tail()

                 datetime  value
14611 2024-08-31 19:00:00    978
14612 2024-08-31 20:00:00    859
14613 2024-08-31 21:00:00    531
14614 2024-08-31 22:00:00    361
14615 2024-08-31 23:00:00    335

In [24]:
combined_df1_1.to_csv('./mydata/traffic/counter 4/car-data/personal_veh_cnt.csv')

In [25]:
r4_personal=pd.read_csv('./mydata/traffic/counter 4/car-data/personal_veh_cnt.csv')
r4_personal.head()

   Unnamed: 0             datetime  value
0           0  2023-01-01 00:00:00    176
1           1  2023-01-01 01:00:00    214
2           2  2023-01-01 02:00:00    114
3           3  2023-01-01 03:00:00     84
4           4  2023-01-01 04:00:00     45

## Preparing data from Traffic Counters- LGV DATA
same code ran for counter 1,2,3 and 4 by changing the paths

In [26]:
jun24_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/jun-24.csv")
jun24_df=jun24_df.drop(['Count','Workday','7 Day'], axis=1)
jun24_df = jun24_df.rename(columns={jun24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jun24_df_long = pd.melt(jun24_df, id_vars='hour', var_name='date', value_name='value')
jun24_df_long['datetime'] = pd.to_datetime(jun24_df_long['date'].astype(str) + ' ' + jun24_df_long['hour'].astype(str))
jun24_df_long = jun24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jun24_df_long.head()

jun23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/jun-23.csv")
jun23_df=jun23_df.drop(['Count','Workday','7 Day'], axis=1)
jun23_df = jun23_df.rename(columns={jun23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jun23_df_long = pd.melt(jun23_df, id_vars='hour', var_name='date', value_name='value')
jun23_df_long['datetime'] = pd.to_datetime(jun23_df_long['date'].astype(str) + ' ' + jun23_df_long['hour'].astype(str))
jun23_df_long = jun23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jun23_df_long.head()

may24_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/may-24.csv")
may24_df=may24_df.drop(['Count','Workday','7 Day'], axis=1)
may24_df = may24_df.rename(columns={may24_df.columns[0]: 'hour'})  # rename first column to 'hour'
may24_df_long = pd.melt(may24_df, id_vars='hour', var_name='date', value_name='value')
may24_df_long['datetime'] = pd.to_datetime(may24_df_long['date'].astype(str) + ' ' + may24_df_long['hour'].astype(str))
may24_df_long = may24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
may24_df_long.head()

may23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/may-23.csv")
may23_df=may23_df.drop(['Count','Workday','7 Day'], axis=1)
may23_df = may23_df.rename(columns={may23_df.columns[0]: 'hour'})  # rename first column to 'hour'
may23_df_long = pd.melt(may23_df, id_vars='hour', var_name='date', value_name='value')
may23_df_long['datetime'] = pd.to_datetime(may23_df_long['date'].astype(str) + ' ' + may23_df_long['hour'].astype(str))
may23_df_long = may23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
may23_df_long.head()

apr24_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/apr-24.csv")
apr24_df=apr24_df.drop(['Count','Workday','7 Day'], axis=1)
apr24_df = apr24_df.rename(columns={apr24_df.columns[0]: 'hour'})  # rename first column to 'hour'
apr24_df_long = pd.melt(apr24_df, id_vars='hour', var_name='date', value_name='value')
apr24_df_long['datetime'] = pd.to_datetime(apr24_df_long['date'].astype(str) + ' ' + apr24_df_long['hour'].astype(str))
apr24_df_long = apr24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
apr24_df_long.head()

apr23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/apr-23.csv")
apr23_df=apr23_df.drop(['Count','Workday','7 Day'], axis=1)
apr23_df = apr23_df.rename(columns={apr23_df.columns[0]: 'hour'})  # rename first column to 'hour'
apr23_df_long = pd.melt(apr23_df, id_vars='hour', var_name='date', value_name='value')
apr23_df_long['datetime'] = pd.to_datetime(apr23_df_long['date'].astype(str) + ' ' + apr23_df_long['hour'].astype(str))
apr23_df_long = apr23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
apr23_df_long.head()

mar24_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/mar-24.csv")
mar24_df=mar24_df.drop(['Count','Workday','7 Day'], axis=1)
mar24_df =mar24_df.rename(columns={mar24_df.columns[0]: 'hour'})  # rename first column to 'hour'
mar24_df_long = pd.melt(mar24_df, id_vars='hour', var_name='date', value_name='value')
mar24_df_long['datetime'] = pd.to_datetime(mar24_df_long['date'].astype(str) + ' ' + mar24_df_long['hour'].astype(str))
mar24_df_long = mar24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
mar24_df_long.head()

mar23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/mar-23.csv")
mar23_df=mar23_df.drop(['Count','Workday','7 Day'], axis=1)
mar23_df =mar23_df.rename(columns={mar23_df.columns[0]: 'hour'})  # rename first column to 'hour'
mar23_df_long = pd.melt(mar23_df, id_vars='hour', var_name='date', value_name='value')
mar23_df_long['datetime'] = pd.to_datetime(mar23_df_long['date'].astype(str) + ' ' + mar23_df_long['hour'].astype(str))
mar23_df_long = mar23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
mar23_df_long.head()

feb24_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/feb-24.csv")
feb24_df=feb24_df.drop(['Count','Workday','7 Day'], axis=1)
feb24_df =feb24_df.rename(columns={feb24_df.columns[0]: 'hour'})  # rename first column to 'hour'
feb24_df_long = pd.melt(feb24_df, id_vars='hour', var_name='date', value_name='value')
feb24_df_long['datetime'] = pd.to_datetime(feb24_df_long['date'].astype(str) + ' ' + feb24_df_long['hour'].astype(str))
feb24_df_long = feb24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
feb24_df_long.head()

feb23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/feb-23.csv")
feb23_df=feb23_df.drop(['Count','Workday','7 Day'], axis=1)
feb23_df =feb23_df.rename(columns={feb23_df.columns[0]: 'hour'})  # rename first column to 'hour'
feb23_df_long = pd.melt(feb23_df, id_vars='hour', var_name='date', value_name='value')
feb23_df_long['datetime'] = pd.to_datetime(feb23_df_long['date'].astype(str) + ' ' + feb23_df_long['hour'].astype(str))
feb23_df_long = feb23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
feb23_df_long.head()

jan24_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/jan-24.csv")
jan24_df=jan24_df.drop(['Count','Workday','7 Day'], axis=1)
jan24_df =jan24_df.rename(columns={jan24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jan24_df_long = pd.melt(jan24_df, id_vars='hour', var_name='date', value_name='value')
jan24_df_long['datetime'] = pd.to_datetime(jan24_df_long['date'].astype(str) + ' ' + jan24_df_long['hour'].astype(str))
jan24_df_long = jan24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jan24_df_long.head()

jan23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/jan-23.csv")
jan23_df=jan23_df.drop(['Count','Workday','7 Day'], axis=1)
jan23_df =jan23_df.rename(columns={jan23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jan23_df_long = pd.melt(jan23_df, id_vars='hour', var_name='date', value_name='value')
jan23_df_long['datetime'] = pd.to_datetime(jan23_df_long['date'].astype(str) + ' ' + jan23_df_long['hour'].astype(str))
jan23_df_long = jan23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jan23_df_long.head()

dec23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/dec-23.csv")
dec23_df=dec23_df.drop(['Count','Workday','7 Day'], axis=1)
dec23_df =dec23_df.rename(columns={dec23_df.columns[0]: 'hour'})  # rename first column to 'hour'
dec23_df_long = pd.melt(dec23_df, id_vars='hour', var_name='date', value_name='value')
dec23_df_long['datetime'] = pd.to_datetime(dec23_df_long['date'].astype(str) + ' ' + dec23_df_long['hour'].astype(str))
dec23_df_long = dec23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
dec23_df_long.head()

nov23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/nov-23.csv")
nov23_df=nov23_df.drop(['Count','Workday','7 Day'], axis=1)
nov23_df =nov23_df.rename(columns={nov23_df.columns[0]: 'hour'})  # rename first column to 'hour'
nov23_df_long = pd.melt(nov23_df, id_vars='hour', var_name='date', value_name='value')
nov23_df_long['datetime'] = pd.to_datetime(nov23_df_long['date'].astype(str) + ' ' + nov23_df_long['hour'].astype(str))
nov23_df_long = nov23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
nov23_df_long.head()

oct23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/oct-23.csv")
oct23_df=oct23_df.drop(['Count','Workday','7 Day'], axis=1)
oct23_df =oct23_df.rename(columns={oct23_df.columns[0]: 'hour'})  # rename first column to 'hour'
oct23_df_long = pd.melt(oct23_df, id_vars='hour', var_name='date', value_name='value')
oct23_df_long['datetime'] = pd.to_datetime(oct23_df_long['date'].astype(str) + ' ' + oct23_df_long['hour'].astype(str))
oct23_df_long = oct23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
oct23_df_long.head()

sep23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/sep-23.csv")
sep23_df=sep23_df.drop(['Count','Workday','7 Day'], axis=1)
sep23_df =sep23_df.rename(columns={sep23_df.columns[0]: 'hour'})  # rename first column to 'hour'
sep23_df_long = pd.melt(sep23_df, id_vars='hour', var_name='date', value_name='value')
sep23_df_long['datetime'] = pd.to_datetime(sep23_df_long['date'].astype(str) + ' ' + sep23_df_long['hour'].astype(str))
sep23_df_long = sep23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
sep23_df_long.head()

aug23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/aug-23.csv")
aug23_df=aug23_df.drop(['Count','Workday','7 Day'], axis=1)
aug23_df =aug23_df.rename(columns={aug23_df.columns[0]: 'hour'})  # rename first column to 'hour'
aug23_df_long = pd.melt(aug23_df, id_vars='hour', var_name='date', value_name='value')
aug23_df_long['datetime'] = pd.to_datetime(aug23_df_long['date'].astype(str) + ' ' + aug23_df_long['hour'].astype(str))
aug23_df_long = aug23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
aug23_df_long.head()

aug24_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/aug-24.csv")
aug24_df=aug24_df.drop(['Count','Workday','7 Day'], axis=1)
aug24_df =aug24_df.rename(columns={aug24_df.columns[0]: 'hour'})  # rename first column to 'hour'
aug24_df_long = pd.melt(aug24_df, id_vars='hour', var_name='date', value_name='value')
aug24_df_long['datetime'] = pd.to_datetime(aug24_df_long['date'].astype(str) + ' ' + aug24_df_long['hour'].astype(str))
aug24_df_long = aug24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
aug24_df_long.head()

jul23_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/jul-23.csv")
jul23_df=jul23_df.drop(['Count','Workday','7 Day'], axis=1)
jul23_df =jul23_df.rename(columns={jul23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jul23_df_long = pd.melt(jul23_df, id_vars='hour', var_name='date', value_name='value')
jul23_df_long['datetime'] = pd.to_datetime(jul23_df_long['date'].astype(str) + ' ' + jul23_df_long['hour'].astype(str))
jul23_df_long = jul23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jul23_df_long.head()

jul24_df = pd.read_csv("./mydata/traffic/counter 4/r4-lgv-data/jul-24.csv")
jul24_df=jul24_df.drop(['Count','Workday','7 Day'], axis=1)
jul24_df =jul24_df.rename(columns={jul24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jul24_df_long = pd.melt(jul24_df, id_vars='hour', var_name='date', value_name='value')
jul24_df_long['datetime'] = pd.to_datetime(jul24_df_long['date'].astype(str) + ' ' + jul24_df_long['hour'].astype(str))
jul24_df_long = jul24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jul24_df_long.head()

combined_df = pd.concat([jul24_df_long, aug24_df_long], ignore_index=True)
combined_df = pd.concat([jun24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([may24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([apr24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([mar24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([feb24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jan24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([dec23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([nov23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([oct23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([sep23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([aug23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jul23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jun23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([may23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([apr23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([mar23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([feb23_df_long, combined_df], ignore_index=True)
combined_df2_1 = pd.concat([jan23_df_long, combined_df], ignore_index=True)
combined_df2_1.head()

             datetime  value
0 2023-01-01 00:00:00      5
1 2023-01-01 01:00:00     12
2 2023-01-01 02:00:00     12
3 2023-01-01 03:00:00      2
4 2023-01-01 04:00:00      7

In [27]:
combined_df2_1.tail()

                 datetime  value
14611 2024-08-31 19:00:00     52
14612 2024-08-31 20:00:00     51
14613 2024-08-31 21:00:00     36
14614 2024-08-31 22:00:00     29
14615 2024-08-31 23:00:00     17

In [29]:
combined_df2_1.to_csv('./mydata/traffic/counter 4/r4-lgv-data/2023-24_lgv_cnt.csv')

In [34]:
r4_lgv=pd.read_csv('./mydata/traffic/counter 4/r4-lgv-data/2023-24_lgv_cnt.csv')
r4_lgv.head()

   Unnamed: 0             datetime  value
0           0  2023-01-01 00:00:00      5
1           1  2023-01-01 01:00:00     12
2           2  2023-01-01 02:00:00     12
3           3  2023-01-01 03:00:00      2
4           4  2023-01-01 04:00:00      7

## Preparing data from Traffic Counters - HGV DATA
same code ran for counter 1,2,3 and 4 by changing the paths

In [30]:
jun24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/jun-24.csv")
jun24_df=jun24_df.drop(['Count','Workday','7 Day'], axis=1)
jun24_df = jun24_df.rename(columns={jun24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jun24_df_long = pd.melt(jun24_df, id_vars='hour', var_name='date', value_name='value')
jun24_df_long['datetime'] = pd.to_datetime(jun24_df_long['date'].astype(str) + ' ' + jun24_df_long['hour'].astype(str))
jun24_df_long = jun24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jun24_df_long.head()

jun23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/jun-23.csv")
jun23_df=jun23_df.drop(['Count','Workday','7 Day'], axis=1)
jun23_df = jun23_df.rename(columns={jun23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jun23_df_long = pd.melt(jun23_df, id_vars='hour', var_name='date', value_name='value')
jun23_df_long['datetime'] = pd.to_datetime(jun23_df_long['date'].astype(str) + ' ' + jun23_df_long['hour'].astype(str))
jun23_df_long = jun23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jun23_df_long.head()

may23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/may-23.csv")
may23_df=may23_df.drop(['Count','Workday','7 Day'], axis=1)
may23_df = may23_df.rename(columns={may23_df.columns[0]: 'hour'})  # rename first column to 'hour'
may23_df_long = pd.melt(may23_df, id_vars='hour', var_name='date', value_name='value')
may23_df_long['datetime'] = pd.to_datetime(may23_df_long['date'].astype(str) + ' ' + may23_df_long['hour'].astype(str))
may23_df_long = may23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
may23_df_long.head()

may24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/may-24.csv")
may24_df=may24_df.drop(['Count','Workday','7 Day'], axis=1)
may24_df = may24_df.rename(columns={may24_df.columns[0]: 'hour'})  # rename first column to 'hour'
may24_df_long = pd.melt(may24_df, id_vars='hour', var_name='date', value_name='value')
may24_df_long['datetime'] = pd.to_datetime(may24_df_long['date'].astype(str) + ' ' + may24_df_long['hour'].astype(str))
may24_df_long = may24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
may24_df_long.head()

apr24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/apr-24.csv")
apr24_df=apr24_df.drop(['Count','Workday','7 Day'], axis=1)
apr24_df = apr24_df.rename(columns={apr24_df.columns[0]: 'hour'})  # rename first column to 'hour'
apr24_df_long = pd.melt(apr24_df, id_vars='hour', var_name='date', value_name='value')
apr24_df_long['datetime'] = pd.to_datetime(apr24_df_long['date'].astype(str) + ' ' + apr24_df_long['hour'].astype(str))
apr24_df_long = apr24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
apr24_df_long.head()

apr23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/apr-23.csv")
apr23_df=apr23_df.drop(['Count','Workday','7 Day'], axis=1)
apr23_df = apr23_df.rename(columns={apr23_df.columns[0]: 'hour'})  # rename first column to 'hour'
apr23_df_long = pd.melt(apr23_df, id_vars='hour', var_name='date', value_name='value')
apr23_df_long['datetime'] = pd.to_datetime(apr23_df_long['date'].astype(str) + ' ' + apr23_df_long['hour'].astype(str))
apr23_df_long = apr23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
apr23_df_long.head()

mar24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/mar-24.csv")
mar24_df=mar24_df.drop(['Count','Workday','7 Day'], axis=1)
mar24_df =mar24_df.rename(columns={mar24_df.columns[0]: 'hour'})  # rename first column to 'hour'
mar24_df_long = pd.melt(mar24_df, id_vars='hour', var_name='date', value_name='value')
mar24_df_long['datetime'] = pd.to_datetime(mar24_df_long['date'].astype(str) + ' ' + mar24_df_long['hour'].astype(str))
mar24_df_long = mar24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
mar24_df_long.head()

mar23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/mar-23.csv")
mar23_df=mar23_df.drop(['Count','Workday','7 Day'], axis=1)
mar23_df =mar23_df.rename(columns={mar23_df.columns[0]: 'hour'})  # rename first column to 'hour'
mar23_df_long = pd.melt(mar23_df, id_vars='hour', var_name='date', value_name='value')
mar23_df_long['datetime'] = pd.to_datetime(mar23_df_long['date'].astype(str) + ' ' + mar23_df_long['hour'].astype(str))
mar23_df_long = mar23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
mar23_df_long.head()

feb24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/feb-24.csv")
feb24_df=feb24_df.drop(['Count','Workday','7 Day'], axis=1)
feb24_df =feb24_df.rename(columns={feb24_df.columns[0]: 'hour'})  # rename first column to 'hour'
feb24_df_long = pd.melt(feb24_df, id_vars='hour', var_name='date', value_name='value')
feb24_df_long['datetime'] = pd.to_datetime(feb24_df_long['date'].astype(str) + ' ' + feb24_df_long['hour'].astype(str))
feb24_df_long = feb24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
feb24_df_long.head()

feb23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/feb-23.csv")
feb23_df=feb23_df.drop(['Count','Workday','7 Day'], axis=1)
feb23_df =feb23_df.rename(columns={feb23_df.columns[0]: 'hour'})  # rename first column to 'hour'
feb23_df_long = pd.melt(feb23_df, id_vars='hour', var_name='date', value_name='value')
feb23_df_long['datetime'] = pd.to_datetime(feb23_df_long['date'].astype(str) + ' ' + feb23_df_long['hour'].astype(str))
feb23_df_long = feb23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
feb23_df_long.head()

jan24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/jan-24.csv")
jan24_df=jan24_df.drop(['Count','Workday','7 Day'], axis=1)
jan24_df =jan24_df.rename(columns={jan24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jan24_df_long = pd.melt(jan24_df, id_vars='hour', var_name='date', value_name='value')
jan24_df_long['datetime'] = pd.to_datetime(jan24_df_long['date'].astype(str) + ' ' + jan24_df_long['hour'].astype(str))
jan24_df_long = jan24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jan24_df_long.head()

jan23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/jan-23.csv")
jan23_df=jan23_df.drop(['Count','Workday','7 Day'], axis=1)
jan23_df =jan23_df.rename(columns={jan23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jan23_df_long = pd.melt(jan23_df, id_vars='hour', var_name='date', value_name='value')
jan23_df_long['datetime'] = pd.to_datetime(jan23_df_long['date'].astype(str) + ' ' + jan23_df_long['hour'].astype(str))
jan23_df_long = jan23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jan23_df_long.head()

dec23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/dec-23.csv")
dec23_df=dec23_df.drop(['Count','Workday','7 Day'], axis=1)
dec23_df =dec23_df.rename(columns={dec23_df.columns[0]: 'hour'})  # rename first column to 'hour'
dec23_df_long = pd.melt(dec23_df, id_vars='hour', var_name='date', value_name='value')
dec23_df_long['datetime'] = pd.to_datetime(dec23_df_long['date'].astype(str) + ' ' + dec23_df_long['hour'].astype(str))
dec23_df_long = dec23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
dec23_df_long.head()

nov23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/nov-23.csv")
nov23_df=nov23_df.drop(['Count','Workday','7 Day'], axis=1)
nov23_df =nov23_df.rename(columns={nov23_df.columns[0]: 'hour'})  # rename first column to 'hour'
nov23_df_long = pd.melt(nov23_df, id_vars='hour', var_name='date', value_name='value')
nov23_df_long['datetime'] = pd.to_datetime(nov23_df_long['date'].astype(str) + ' ' + nov23_df_long['hour'].astype(str))
nov23_df_long = nov23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
nov23_df_long.head()

oct23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/oct-23.csv")
oct23_df=oct23_df.drop(['Count','Workday','7 Day'], axis=1)
oct23_df =oct23_df.rename(columns={oct23_df.columns[0]: 'hour'})  # rename first column to 'hour'
oct23_df_long = pd.melt(oct23_df, id_vars='hour', var_name='date', value_name='value')
oct23_df_long['datetime'] = pd.to_datetime(oct23_df_long['date'].astype(str) + ' ' + oct23_df_long['hour'].astype(str))
oct23_df_long = oct23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
oct23_df_long.head()

sep23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/sep-23.csv")
sep23_df=sep23_df.drop(['Count','Workday','7 Day'], axis=1)
sep23_df =sep23_df.rename(columns={sep23_df.columns[0]: 'hour'})  # rename first column to 'hour'
sep23_df_long = pd.melt(sep23_df, id_vars='hour', var_name='date', value_name='value')
sep23_df_long['datetime'] = pd.to_datetime(sep23_df_long['date'].astype(str) + ' ' + sep23_df_long['hour'].astype(str))
sep23_df_long = sep23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
sep23_df_long.head()

aug23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/aug-23.csv")
aug23_df=aug23_df.drop(['Count','Workday','7 Day'], axis=1)
aug23_df =aug23_df.rename(columns={aug23_df.columns[0]: 'hour'})  # rename first column to 'hour'
aug23_df_long = pd.melt(aug23_df, id_vars='hour', var_name='date', value_name='value')
aug23_df_long['datetime'] = pd.to_datetime(aug23_df_long['date'].astype(str) + ' ' + aug23_df_long['hour'].astype(str))
aug23_df_long = aug23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
aug23_df_long.head()


aug24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/aug-24.csv")
aug24_df=aug24_df.drop(['Count','Workday','7 Day'], axis=1)
aug24_df =aug24_df.rename(columns={aug24_df.columns[0]: 'hour'})  # rename first column to 'hour'
aug24_df_long = pd.melt(aug24_df, id_vars='hour', var_name='date', value_name='value')
aug24_df_long['datetime'] = pd.to_datetime(aug24_df_long['date'].astype(str) + ' ' + aug24_df_long['hour'].astype(str))
aug24_df_long = aug24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
aug24_df_long.head()


jul24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/jul-24.csv")
jul24_df=jul24_df.drop(['Count','Workday','7 Day'], axis=1)
jul24_df =jul24_df.rename(columns={jul24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jul24_df_long = pd.melt(jul24_df, id_vars='hour', var_name='date', value_name='value')
jul24_df_long['datetime'] = pd.to_datetime(jul24_df_long['date'].astype(str) + ' ' + jul24_df_long['hour'].astype(str))
jul24_df_long = jul24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jul24_df_long.head()

jul23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-rig/jul-23.csv")
jul23_df=jul23_df.drop(['Count','Workday','7 Day'], axis=1)
jul23_df =jul23_df.rename(columns={jul23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jul23_df_long = pd.melt(jul23_df, id_vars='hour', var_name='date', value_name='value')
jul23_df_long['datetime'] = pd.to_datetime(jul23_df_long['date'].astype(str) + ' ' + jul23_df_long['hour'].astype(str))
jul23_df_long = jul23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jul23_df_long.head()

combined_df = pd.concat([jul24_df_long, aug24_df_long], ignore_index=True)
combined_df = pd.concat([jun24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([may24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([apr24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([mar24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([feb24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jan24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([dec23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([nov23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([oct23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([sep23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([aug23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jul23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jun23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([may23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([apr23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([mar23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([feb23_df_long, combined_df], ignore_index=True)
combined_df2_2 = pd.concat([jan23_df_long, combined_df], ignore_index=True)
combined_df2_2.head()

             datetime  value
0 2023-01-01 00:00:00      2
1 2023-01-01 01:00:00      1
2 2023-01-01 02:00:00      2
3 2023-01-01 03:00:00      0
4 2023-01-01 04:00:00      3

In [31]:
combined_df2_2.tail()

                 datetime  value
14611 2024-08-31 19:00:00      2
14612 2024-08-31 20:00:00      3
14613 2024-08-31 21:00:00      5
14614 2024-08-31 22:00:00      2
14615 2024-08-31 23:00:00      2

In [32]:
combined_df2_2.to_csv('./mydata/traffic/counter 4/r4-hgv-rig/2023-24_hgv_rig_cnt.csv')

In [35]:
r4_hgv_rig=pd.read_csv('./mydata/traffic/counter 4/r4-hgv-rig/2023-24_hgv_rig_cnt.csv')
r4_hgv_rig.head()

   Unnamed: 0             datetime  value
0           0  2023-01-01 00:00:00      2
1           1  2023-01-01 01:00:00      1
2           2  2023-01-01 02:00:00      2
3           3  2023-01-01 03:00:00      0
4           4  2023-01-01 04:00:00      3

## Preparing data from Traffic Counters - HGV-ART DATA
same code ran for counter 1,2,3 and 4 by changing the paths

In [36]:
jun24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/jun-24.csv")
jun24_df=jun24_df.drop(['Count','Workday','7 Day'], axis=1)
jun24_df = jun24_df.rename(columns={jun24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jun24_df_long = pd.melt(jun24_df, id_vars='hour', var_name='date', value_name='value')
jun24_df_long['datetime'] = pd.to_datetime(jun24_df_long['date'].astype(str) + ' ' + jun24_df_long['hour'].astype(str))
jun24_df_long = jun24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jun24_df_long.head()


jun23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/jun-23.csv")
jun23_df=jun23_df.drop(['Count','Workday','7 Day'], axis=1)
jun23_df = jun23_df.rename(columns={jun23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jun23_df_long = pd.melt(jun23_df, id_vars='hour', var_name='date', value_name='value')
jun23_df_long['datetime'] = pd.to_datetime(jun23_df_long['date'].astype(str) + ' ' + jun23_df_long['hour'].astype(str))
jun23_df_long = jun23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jun23_df_long.head()

may23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/may-23.csv")
may23_df=may23_df.drop(['Count','Workday','7 Day'], axis=1)
may23_df = may23_df.rename(columns={may23_df.columns[0]: 'hour'})  # rename first column to 'hour'
may23_df_long = pd.melt(may23_df, id_vars='hour', var_name='date', value_name='value')
may23_df_long['datetime'] = pd.to_datetime(may23_df_long['date'].astype(str) + ' ' + may23_df_long['hour'].astype(str))
may23_df_long = may23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
may23_df_long.head()

apr23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/apr-23.csv")
apr23_df=apr23_df.drop(['Count','Workday','7 Day'], axis=1)
apr23_df = apr23_df.rename(columns={apr23_df.columns[0]: 'hour'})  # rename first column to 'hour'
apr23_df_long = pd.melt(apr23_df, id_vars='hour', var_name='date', value_name='value')
apr23_df_long['datetime'] = pd.to_datetime(apr23_df_long['date'].astype(str) + ' ' + apr23_df_long['hour'].astype(str))
apr23_df_long = apr23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
apr23_df_long.head()

mar23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/mar-23.csv")
mar23_df=mar23_df.drop(['Count','Workday','7 Day'], axis=1)
mar23_df =mar23_df.rename(columns={mar23_df.columns[0]: 'hour'})  # rename first column to 'hour'
mar23_df_long = pd.melt(mar23_df, id_vars='hour', var_name='date', value_name='value')
mar23_df_long['datetime'] = pd.to_datetime(mar23_df_long['date'].astype(str) + ' ' + mar23_df_long['hour'].astype(str))
mar23_df_long = mar23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
mar23_df_long.head()

feb23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/feb-23.csv")
feb23_df=feb23_df.drop(['Count','Workday','7 Day'], axis=1)
feb23_df =feb23_df.rename(columns={feb23_df.columns[0]: 'hour'})  # rename first column to 'hour'
feb23_df_long = pd.melt(feb23_df, id_vars='hour', var_name='date', value_name='value')
feb23_df_long['datetime'] = pd.to_datetime(feb23_df_long['date'].astype(str) + ' ' + feb23_df_long['hour'].astype(str))
feb23_df_long = feb23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
feb23_df_long.head()

jan23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/jan-23.csv")
jan23_df=jan23_df.drop(['Count','Workday','7 Day'], axis=1)
jan23_df =jan23_df.rename(columns={jan23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jan23_df_long = pd.melt(jan23_df, id_vars='hour', var_name='date', value_name='value')
jan23_df_long['datetime'] = pd.to_datetime(jan23_df_long['date'].astype(str) + ' ' + jan23_df_long['hour'].astype(str))
jan23_df_long = jan23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jan23_df_long.head()

aug24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/aug-24.csv")
aug24_df=aug24_df.drop(['Count','Workday','7 Day'], axis=1)
aug24_df =aug24_df.rename(columns={aug24_df.columns[0]: 'hour'})  # rename first column to 'hour'
aug24_df_long = pd.melt(aug24_df, id_vars='hour', var_name='date', value_name='value')
aug24_df_long['datetime'] = pd.to_datetime(aug24_df_long['date'].astype(str) + ' ' + aug24_df_long['hour'].astype(str))
aug24_df_long = aug24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
aug24_df_long.head()

jul24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/jul-24.csv")
jul24_df=jul24_df.drop(['Count','Workday','7 Day'], axis=1)
jul24_df =jul24_df.rename(columns={jul24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jul24_df_long = pd.melt(jul24_df, id_vars='hour', var_name='date', value_name='value')
jul24_df_long['datetime'] = pd.to_datetime(jul24_df_long['date'].astype(str) + ' ' + jul24_df_long['hour'].astype(str))
jul24_df_long = jul24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jul24_df_long.head()


may24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/may-24.csv")
may24_df=may24_df.drop(['Count','Workday','7 Day'], axis=1)
may24_df = may24_df.rename(columns={may24_df.columns[0]: 'hour'})  # rename first column to 'hour'
may24_df_long = pd.melt(may24_df, id_vars='hour', var_name='date', value_name='value')
may24_df_long['datetime'] = pd.to_datetime(may24_df_long['date'].astype(str) + ' ' + may24_df_long['hour'].astype(str))
may24_df_long = may24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
may24_df_long.head()

apr24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/apr-24.csv")
apr24_df=apr24_df.drop(['Count','Workday','7 Day'], axis=1)
apr24_df = apr24_df.rename(columns={apr24_df.columns[0]: 'hour'})  # rename first column to 'hour'
apr24_df_long = pd.melt(apr24_df, id_vars='hour', var_name='date', value_name='value')
apr24_df_long['datetime'] = pd.to_datetime(apr24_df_long['date'].astype(str) + ' ' + apr24_df_long['hour'].astype(str))
apr24_df_long = apr24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
apr24_df_long.head()

mar24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/mar-24.csv")
mar24_df=mar24_df.drop(['Count','Workday','7 Day'], axis=1)
mar24_df =mar24_df.rename(columns={mar24_df.columns[0]: 'hour'})  # rename first column to 'hour'
mar24_df_long = pd.melt(mar24_df, id_vars='hour', var_name='date', value_name='value')
mar24_df_long['datetime'] = pd.to_datetime(mar24_df_long['date'].astype(str) + ' ' + mar24_df_long['hour'].astype(str))
mar24_df_long = mar24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
mar24_df_long.head()

feb24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/feb-24.csv")
feb24_df=feb24_df.drop(['Count','Workday','7 Day'], axis=1)
feb24_df =feb24_df.rename(columns={feb24_df.columns[0]: 'hour'})  # rename first column to 'hour'
feb24_df_long = pd.melt(feb24_df, id_vars='hour', var_name='date', value_name='value')
feb24_df_long['datetime'] = pd.to_datetime(feb24_df_long['date'].astype(str) + ' ' + feb24_df_long['hour'].astype(str))
feb24_df_long = feb24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
feb24_df_long.head()

jan24_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/jan-24.csv")
jan24_df=jan24_df.drop(['Count','Workday','7 Day'], axis=1)
jan24_df =jan24_df.rename(columns={jan24_df.columns[0]: 'hour'})  # rename first column to 'hour'
jan24_df_long = pd.melt(jan24_df, id_vars='hour', var_name='date', value_name='value')
jan24_df_long['datetime'] = pd.to_datetime(jan24_df_long['date'].astype(str) + ' ' + jan24_df_long['hour'].astype(str))
jan24_df_long = jan24_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jan24_df_long.head()

dec23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/dec-23.csv")
dec23_df=dec23_df.drop(['Count','Workday','7 Day'], axis=1)
dec23_df =dec23_df.rename(columns={dec23_df.columns[0]: 'hour'})  # rename first column to 'hour'
dec23_df_long = pd.melt(dec23_df, id_vars='hour', var_name='date', value_name='value')
dec23_df_long['datetime'] = pd.to_datetime(dec23_df_long['date'].astype(str) + ' ' + dec23_df_long['hour'].astype(str))
dec23_df_long = dec23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
dec23_df_long.head()

nov23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/nov-23.csv")
nov23_df=nov23_df.drop(['Count','Workday','7 Day'], axis=1)
nov23_df =nov23_df.rename(columns={nov23_df.columns[0]: 'hour'})  # rename first column to 'hour'
nov23_df_long = pd.melt(nov23_df, id_vars='hour', var_name='date', value_name='value')
nov23_df_long['datetime'] = pd.to_datetime(nov23_df_long['date'].astype(str) + ' ' + nov23_df_long['hour'].astype(str))
nov23_df_long = nov23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
nov23_df_long.head()

oct23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/oct-23.csv")
oct23_df=oct23_df.drop(['Count','Workday','7 Day'], axis=1)
oct23_df =oct23_df.rename(columns={oct23_df.columns[0]: 'hour'})  # rename first column to 'hour'
oct23_df_long = pd.melt(oct23_df, id_vars='hour', var_name='date', value_name='value')
oct23_df_long['datetime'] = pd.to_datetime(oct23_df_long['date'].astype(str) + ' ' + oct23_df_long['hour'].astype(str))
oct23_df_long = oct23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
oct23_df_long.head()

sep23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/sep-23.csv")
sep23_df=sep23_df.drop(['Count','Workday','7 Day'], axis=1)
sep23_df =sep23_df.rename(columns={sep23_df.columns[0]: 'hour'})  # rename first column to 'hour'
sep23_df_long = pd.melt(sep23_df, id_vars='hour', var_name='date', value_name='value')
sep23_df_long['datetime'] = pd.to_datetime(sep23_df_long['date'].astype(str) + ' ' + sep23_df_long['hour'].astype(str))
sep23_df_long = sep23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
sep23_df_long.head()

aug23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/aug-23.csv")
aug23_df=aug23_df.drop(['Count','Workday','7 Day'], axis=1)
aug23_df =aug23_df.rename(columns={aug23_df.columns[0]: 'hour'})  # rename first column to 'hour'
aug23_df_long = pd.melt(aug23_df, id_vars='hour', var_name='date', value_name='value')
aug23_df_long['datetime'] = pd.to_datetime(aug23_df_long['date'].astype(str) + ' ' + aug23_df_long['hour'].astype(str))
aug23_df_long = aug23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
aug23_df_long.head()

jul23_df = pd.read_csv("./mydata/traffic/counter 4/r4-hgv-art/jul-23.csv")
jul23_df=jul23_df.drop(['Count','Workday','7 Day'], axis=1)
jul23_df =jul23_df.rename(columns={jul23_df.columns[0]: 'hour'})  # rename first column to 'hour'
jul23_df_long = pd.melt(jul23_df, id_vars='hour', var_name='date', value_name='value')
jul23_df_long['datetime'] = pd.to_datetime(jul23_df_long['date'].astype(str) + ' ' + jul23_df_long['hour'].astype(str))
jul23_df_long = jul23_df_long[['datetime', 'value']].sort_values('datetime').reset_index(drop=True)
jul23_df_long.head()

combined_df = pd.concat([jul24_df_long, aug24_df_long], ignore_index=True)
combined_df = pd.concat([jun24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([may24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([apr24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([mar24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([feb24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jan24_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([dec23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([nov23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([oct23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([sep23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([aug23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jul23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([jun23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([may23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([apr23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([mar23_df_long, combined_df], ignore_index=True)
combined_df = pd.concat([feb23_df_long, combined_df], ignore_index=True)
combined_df2_3 = pd.concat([jan23_df_long, combined_df], ignore_index=True)
combined_df2_3.head()

             datetime  value
0 2023-01-01 00:00:00      0
1 2023-01-01 01:00:00      0
2 2023-01-01 02:00:00      0
3 2023-01-01 03:00:00      1
4 2023-01-01 04:00:00      0

In [37]:
combined_df2_3.to_csv('./mydata/traffic/counter 4/r4-hgv-art/2023-24_hgv_art_cnt.csv')

In [39]:
r4_hgv_art=pd.read_csv('./mydata/traffic/counter 4/r4-hgv-art/2023-24_hgv_art_cnt.csv')
r4_hgv_art.head()

   Unnamed: 0             datetime  value
0           0  2023-01-01 00:00:00      0
1           1  2023-01-01 01:00:00      0
2           2  2023-01-01 02:00:00      0
3           3  2023-01-01 03:00:00      1
4           4  2023-01-01 04:00:00      0

In [40]:
print(r4_personal['value'].isna().sum())
print(r4_lgv['value'].isna().sum())
print(r4_hgv_rig['value'].isna().sum())
print(r4_hgv_art['value'].isna().sum())

0
0
0
0

In [42]:
print(len(r4_personal))
print(len(r4_lgv))
print(len(r4_hgv_rig))
print(len(r4_hgv_art))

14616
14616
14616
14616

In [43]:
r4_personal[r4_personal['value'].isna()]['datetime']

Series([], Name: datetime, dtype: object)

In [44]:
r4_hgv_art[r4_hgv_art['value'].isna()]['datetime']

Series([], Name: datetime, dtype: object)

In [45]:
r4_personal = r4_personal.rename(columns={r4_personal.columns[2]: "personal"})
r4_lgv = r4_lgv.rename(columns={r4_lgv.columns[2]: "lgv"})
r4_hgv_rig = r4_hgv_rig.rename(columns={r4_hgv_rig.columns[2]: "hgv_rig"})
r4_hgv_art = r4_hgv_art.rename(columns={r4_hgv_art.columns[2]: "hgv_art"})

In [46]:
r4_personal.head()

   Unnamed: 0             datetime  personal
0           0  2023-01-01 00:00:00       176
1           1  2023-01-01 01:00:00       214
2           2  2023-01-01 02:00:00       114
3           3  2023-01-01 03:00:00        84
4           4  2023-01-01 04:00:00        45

In [47]:
r4_personal.drop(columns=['Unnamed: 0'], axis=1, inplace=True)
r4_lgv.drop(columns=['Unnamed: 0'], axis=1, inplace=True)
r4_hgv_rig.drop(columns=['Unnamed: 0'], axis=1, inplace=True)
r4_hgv_art.drop(columns=['Unnamed: 0'], axis=1, inplace=True)

In [48]:
merged_df = r4_personal.merge(r4_lgv, on="datetime") \
               .merge(r4_hgv_rig, on="datetime") \
               .merge(r4_hgv_art, on="datetime")

merged_df.head()

              datetime  personal  lgv  hgv_rig  hgv_art
0  2023-01-01 00:00:00       176    5        2        0
1  2023-01-01 01:00:00       214   12        1        0
2  2023-01-01 02:00:00       114   12        2        0
3  2023-01-01 03:00:00        84    2        0        1
4  2023-01-01 04:00:00        45    7        3        0

In [49]:
merged_df[merged_df['personal'].isna()]

Empty DataFrame
Columns: [datetime, personal, lgv, hgv_rig, hgv_art]
Index: []

In [50]:
merged_df.head()

              datetime  personal  lgv  hgv_rig  hgv_art
0  2023-01-01 00:00:00       176    5        2        0
1  2023-01-01 01:00:00       214   12        1        0
2  2023-01-01 02:00:00       114   12        2        0
3  2023-01-01 03:00:00        84    2        0        1
4  2023-01-01 04:00:00        45    7        3        0

In [51]:
# Generate full hourly range in Europe/Dublin timezone
full_range = pd.date_range(
    start='2023-01-01 00:00:00',
    end='2024-08-31 23:00:00',
    freq='H',
    tz='Europe/Dublin'
)

# Check length (should be 17542 if both DST skips applied)
print(len(full_range))  # Expected: 17542

14615

In [52]:
full_df = pd.DataFrame({'datetime': full_range})

merged_df['irish_datetime'] = pd.to_datetime(merged_df['datetime']).dt.tz_localize('Europe/Dublin', ambiguous='NaT', nonexistent='NaT')
merged_df.head()

,datetime,personal,lgv,hgv_rig,hgv_art,irish_datetime
0,2023-01-01 00:00:00,176,5,2,0,2023-01-01 00:00:00+00:00
1,2023-01-01 01:00:00,214,12,1,0,2023-01-01 01:00:00+00:00
2,2023-01-01 02:00:00,114,12,2,0,2023-01-01 02:00:00+00:00
3,2023-01-01 03:00:00,84,2,0,1,2023-01-01 03:00:00+00:00
4,2023-01-01 04:00:00,45,7,3,0,2023-01-01 04:00:00+00:00

In [53]:
merged_df[((merged_df['lgv']==0) & (merged_df['hgv_rig']==0) & (merged_df['hgv_art']==0))]

,datetime,personal,lgv,hgv_rig,hgv_art,irish_datetime
8595,2023-12-25 03:00:00,20,0,0,0,2023-12-25 03:00:00+00:00

In [54]:
merged_df["date"] = merged_df["irish_datetime"].dt.date
merged_df["month"] = merged_df["irish_datetime"].dt.month
merged_df["hour"] = merged_df["irish_datetime"].dt.hour
merged_df["year"] = merged_df["irish_datetime"].dt.year

In [55]:
merged_df.head()
test=merged_df[merged_df['month']==3]
test.iloc[1460:1470,]

,datetime,personal,lgv,hgv_rig,hgv_art,irish_datetime,date,month,hour,year
10917,2024-03-30 21:00:00,414,37,0,1,2024-03-30 21:00:00+00:00,2024-03-30,3.0,21.0,2024.0
10918,2024-03-30 22:00:00,375,14,1,3,2024-03-30 22:00:00+00:00,2024-03-30,3.0,22.0,2024.0
10919,2024-03-30 23:00:00,358,18,3,1,2024-03-30 23:00:00+00:00,2024-03-30,3.0,23.0,2024.0
10920,2024-03-31 00:00:00,145,12,1,2,2024-03-31 00:00:00+00:00,2024-03-31,3.0,0.0,2024.0
10922,2024-03-31 02:00:00,146,18,0,3,2024-03-31 02:00:00+01:00,2024-03-31,3.0,2.0,2024.0
10923,2024-03-31 03:00:00,109,8,1,4,2024-03-31 03:00:00+01:00,2024-03-31,3.0,3.0,2024.0
10924,2024-03-31 04:00:00,75,4,1,0,2024-03-31 04:00:00+01:00,2024-03-31,3.0,4.0,2024.0
10925,2024-03-31 05:00:00,74,3,0,2,2024-03-31 05:00:00+01:00,2024-03-31,3.0,5.0,2024.0
10926,2024-03-31 06:00:00,140,8,1,4,2024-03-31 06:00:00+01:00,2024-03-31,3.0,6.0,2024.0
10927,2024-03-31 07:00:00,209,10,2,4,2024-03-31 07:00:00+01:00,2024-03-31,3.0,7.0,2024.0

In [156]:
hourly_means = merged_df.groupby(["month", "hour"])[["personal", "lgv", "hgv_rig", "hgv_art"]].transform("mean")

# Fill NaNs with these hourly means
merged_df[["personal", "lgv", "hgv_rig", "hgv_art"]] = merged_df[["personal", "lgv", "hgv_rig", "hgv_art"]].fillna(hourly_means)

In [29]:
road1=pd.DataFrame({'datetime':combined_df1['datetime'], 'personal_vehicle_count':(combined_df1['value']+combined_df1_1['value'])})

road1.head()

             datetime  personal_vehicle_count
0 2023-07-01 00:00:00                   121.0
1 2023-07-01 01:00:00                   100.0
2 2023-07-01 02:00:00                    90.0
3 2023-07-01 03:00:00                    46.0
4 2023-07-01 04:00:00                    33.0

In [157]:
merged_df[merged_df['personal'].isna()]

,datetime,personal,lgv,hgv_rig,hgv_art,irish_datetime,date,month,hour,year
10921,2024-03-31 01:00:00,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN

In [56]:
merged_df=merged_df.dropna(subset=["irish_datetime"])
merged_df.drop(columns=['datetime'],axis=1, inplace=True)
merged_df.rename(columns={'irish_datetime':'datetime'}, inplace=True)
merged_df.head()

,personal,lgv,hgv_rig,hgv_art,datetime,date,month,hour,year
0,176,5,2,0,2023-01-01 00:00:00+00:00,2023-01-01,1.0,0.0,2023.0
1,214,12,1,0,2023-01-01 01:00:00+00:00,2023-01-01,1.0,1.0,2023.0
2,114,12,2,0,2023-01-01 02:00:00+00:00,2023-01-01,1.0,2.0,2023.0
3,84,2,0,1,2023-01-01 03:00:00+00:00,2023-01-01,1.0,3.0,2023.0
4,45,7,3,0,2023-01-01 04:00:00+00:00,2023-01-01,1.0,4.0,2023.0

In [57]:
merged_df['heavy_goods']=merged_df['lgv']+merged_df['hgv_rig']+merged_df['hgv_art']
merged_df.head()

,personal,lgv,hgv_rig,hgv_art,datetime,date,month,hour,year,heavy_goods
0,176,5,2,0,2023-01-01 00:00:00+00:00,2023-01-01,1.0,0.0,2023.0,7
1,214,12,1,0,2023-01-01 01:00:00+00:00,2023-01-01,1.0,1.0,2023.0,13
2,114,12,2,0,2023-01-01 02:00:00+00:00,2023-01-01,1.0,2.0,2023.0,14
3,84,2,0,1,2023-01-01 03:00:00+00:00,2023-01-01,1.0,3.0,2023.0,3
4,45,7,3,0,2023-01-01 04:00:00+00:00,2023-01-01,1.0,4.0,2023.0,10

In [58]:
merged_df.drop(columns=['lgv','hgv_rig','hgv_art','year','month','date','hour'],axis=1, inplace=True)
merged_df=merged_df[['datetime','personal','heavy_goods']]
merged_df.head()

                   datetime  personal  heavy_goods
0 2023-01-01 00:00:00+00:00       176            7
1 2023-01-01 01:00:00+00:00       214           13
2 2023-01-01 02:00:00+00:00       114           14
3 2023-01-01 03:00:00+00:00        84            3
4 2023-01-01 04:00:00+00:00        45           10

In [59]:
r4=merged_df
r4.head()

                   datetime  personal  heavy_goods
0 2023-01-01 00:00:00+00:00       176            7
1 2023-01-01 01:00:00+00:00       214           13
2 2023-01-01 02:00:00+00:00       114           14
3 2023-01-01 03:00:00+00:00        84            3
4 2023-01-01 04:00:00+00:00        45           10

In [60]:
r4.to_csv('./mydata/traffic/counter 4/personal_vs_hgvs.csv')

In [33]:
road1['commercial_vehicle_count']=combined_df2_1['value'] + combined_df2_2['value'] +combined_df2_3['value']
road1.head()

             datetime  personal_vehicle_count  commercial_vehicle_count
0 2023-07-01 00:00:00                   121.0                       7.0
1 2023-07-01 01:00:00                   100.0                       9.0
2 2023-07-01 02:00:00                    90.0                      11.0
3 2023-07-01 03:00:00                    46.0                       6.0
4 2023-07-01 04:00:00                    33.0                      11.0